.message {

}

.imageAndText {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}