.sidebar {
    text-decoration: none;
    color: black;
}

.sidebar.open {
}

.background {
}

.nav {
    text-decoration: none;
    color: black;
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
    color: #00a3b2;
    text-decoration: underline;
}
.close {
}

.close img {
}
