.buttonsContainer {
    padding-top: 27px;
    display: flex;
    gap: 21px;

}

.clock {
    margin-bottom: 8px;

}

.watch {
    margin-bottom: 8px;

}

.watch strong {
    margin-bottom: 8px;
}

.more {
    opacity: 0.5;

}