.friendMessage {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
}

.friendImageAndText {
    display: flex;
    justify-content: flex-start;

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    background-color: #F5F7FB;
    border-radius: 10px;
}

.friendText:after {

}

.friendName {
    font-size: 18px;
    padding-left: 27px;
    padding-top: 8px;
}

.friendMessageText {
    font-size: 16px;
    font-weight: 400;
    padding-left: 27px;
    padding-right: 13px;
    padding-bottom: 8px;

}

.friendTime {
    font-size: 10px;
    line-height: 12px;
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 56px;
}
